.get-in-touch {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    animation: fadeInUp 0.5s ease forwards;
    opacity: 0;
}

.title {
    text-align: center;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
}

.input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .get-in-touch {
        max-width: 90%;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
