<div class="sidebar">
    <div class="nav-header">Admin</div>
    <a [routerLink]="['/dashboard']"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
    <a [routerLink]="['/admin/products/list']" class="dropdown-btn"><i class="fas fa-box"></i> Products </a>
    <a [routerLink]="['/admin/category/list']"><i class="fas fa-list"></i> Category</a>
    <a [routerLink]="['/orders']"><i class="fas fa-shopping-cart"></i> Orders</a>
    <a [routerLink]="['/admin/users/list']"><i class="fas fa-users"></i> Customers</a>
    <a [routerLink]="['/reports']"><i class="fas fa-chart-bar"></i> Reports</a>
    <a [routerLink]="['/settings']"><i class="fas fa-cog"></i> Settings</a>
</div>